html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: 30px;
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.search-bar {
  display: block;
  text-align: center;
  padding: 30px;

  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(202, 202, 202);
}

input[name="query"] {
  width: 400px;
  height: 50px;
  padding: 10px 20px 10px 45px;

  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.39);

  font-size: 16px;

  outline: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.is-hidden {
  display: none;
}

.search-bar:hover input[name="query"],
.search-bar:focus input[name="query"] {
  box-shadow: 2px 1px 16px 0px rgba(66, 133, 244, 0.39);
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 60px) / 3);
  padding: 15px;
  margin-bottom: 20px;

  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.39);
}

.description {
  display: flex;
  justify-content: space-around;
  padding: 25px 10px 10px 10px;
}

.material-icons {
  vertical-align: middle;
}

.photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.load-more-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 120px;
  min-height: 50px;
  padding: 10px 20px;

  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);

  box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.39);
  font-size: 16px;

  outline: none;
  background-color: rgb(255, 255, 255);

  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-button:hover {
  box-shadow: 2px 1px 16px 0px rgba(66, 133, 244, 0.39);
  outline: none;
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  /* overflow: hidden; */
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.lightbox__button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.notification {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
}
